<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personal Blog</title>
  <link rel="stylesheet" href="/styles.css"> <!-- Ruta para CSS -->
</head>
<body>
  <div class="container">
    <div class="content">  
      <div class="header-row">
        <img src="/biscuit.jpeg" alt="Imagen Biscuit" class="responsive-img">
        <h1>Bienvenido <%= user.user_name %> a tu blog personal</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content">
      <form action="/api/createNote" method="GET" style="display: inline;">
        <button type="submit">Crear nueva nota</button>
      </form>
      <ul>
        <% if (userNotes.length > 0) { %>
          <% userNotes.forEach(note => { %>
            <li>
              <h2><%= note.title %></h2>
              <p><%= note.content %></p>
              <form action="/api/edit/<%= note.id %>" method="GET" style="display: inline;">
                <button type="submit">Editar</button>
              </form>
              <form action="/api/notes/<%= note.id %>?_method=DELETE" method="POST" style="display: inline;">
                <button type="submit">Eliminar</button>
              </form>
            </li>
          <% }) %>
        <% } else { %>
          <li>No hay notas disponibles.</li>
        <% } %>
      </ul>
      <div class="logout-delete-buttons">
        <form action="/api/logout" method="post">
          <button type="submit">Cerrar Sesión</button>
        </form>
        <form action="/api/user?_method=DELETE" method="post">
          <button type="submit">Eliminar cuenta</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
